<mat-card class="example-card" style="margin-top: 12px;">
    <form (submit)="OnSubmit()">
        <mat-form-field>
            <mat-label>Enter your username</mat-label>
            <input matInput placeholder="Username" required [(ngModel)]="username" name="username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput placeholder="Password" required [(ngModel)]="password" name="password">
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
    </form>
</mat-card>